*{
   font-family: Arial, Helvetica, sans-serif;
}
#parent{
    background-color: #05386B;
}
#body{
    
    /* border: 1px solid black ; */
    display: flex;
}
#left{
    /* border: 1px solid yellow; */
    width: 48%;
}
#citymap{
    margin-top:4.8rem;
    width: 48%;
    margin-left:30px;
    border-radius: 30px;


}
#cityInput{
    margin-top:2rem;
    font-size:20px;
    width: 100%;
    height: 50px;
    margin-bottom: 2rem;
}

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ebebca;
    background: #82e0ff;
  background: linear-gradient(90deg, rgb(131, 218, 250) 0%, rgb(132, 210, 246) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #74c7eb;
    box-shadow: 0 0 60px rgb(123, 206, 242);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #87dfff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

#searchbar{
    /* border: 2px solid rgb(229, 215, 215) ; */
    display: block;
    margin: auto;
   /* margin-left: 30rem; */
   width: 50%;
   /* height: 40px; */
   
}
#maindiv{
    /* border: 1px solid brown ; */
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
#divup{
    /* background-color: #379683; */
    /* border-top: 1px solid orange; */
    width: 100%;
    text-align: center;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;

}
#divdown{
    /* background-color: #379683; */
    /* border: 1px solid blue ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1rem;
    /* padding-bottom: 150px; */
}
#div1{
    /* border: 1px solid red ; */
    box-sizing: border-box;
    background-color: #659DBD ;
    text-align: center;
    border-radius:20px;
    font-size:17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
#iframe{
    /* border: 1px solid blue ; */
    width: 100%;
    height: 600px;
    margin-top: 70px;
    border-radius: 30px;
}
#iframe:hover{
    /* border: 1px solid blue ; */
   cursor: pointer;
}
.labelHeading{
    font-size:26px;
    margin: auto;
    color: antiquewhite;
    padding-top:2rem ;
    /* border: 1px solid #ffff; */
}
@media all and (max-width: 600px){
    #body{
    
    /* border: 1px solid black ; */
    display: flex;
    flex-direction: column;
  }
  #left{
    /* border: 13px solid yellow; */
    width: 90%;
    margin:  auto;
}
#divdown{
    /* background-color: #379683; */
    /* border: 1px solid blue ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1rem;
    padding-bottom: 20px;
}
#cityInput{
    margin-top:2rem;
    font-size:14px;
    width: 100%;
    height: 2rem;
}
  #citymap{
    margin-top:1rem;
    width: 90%;
    margin-left:30px;
    border-radius: 30px;
    margin: auto;


 }
 #iframe{
    /* border: 1px solid blue ; */
    width: 100%;
    /* height: 600px; */
    margin-top: 10px;
    border-radius: 30px;
}
.labelHeading{
    font-size:14px;
    margin: auto;
    color: antiquewhite;
    padding-top:2rem ;
    /* border: 1px solid #ffff; */
}
  
.wrap {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    min-width: 150px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ebebca;
    background: #82e0ff;
  background: linear-gradient(90deg, rgb(131, 218, 250) 0%, rgb(132, 210, 246) 100%);
    border: none;
    border-radius: 500px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
    button::before {
        content: '';
          border-radius: 500px;
          min-width: calc(150px + 12px);
          min-height: calc(30px + 12px);
          border: 6px solid #74c7eb;
          box-shadow: 0 0 60px rgb(123, 206, 242);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all .3s ease-in-out 0s;
        }
}